.nitro-alert {
    min-height: 150px;
    max-height: 350px;

    .notification-frank {
        background-image: url('@/assets/images/notifications/frank.gif');
        width:47px;
        height: 85px;
    }

    .notification-text {
        min-width: 250px;
    }

    &.nitro-alert-default,
    &.nitro-alert-motd {
        width: 350px;
        .notification-text {
            min-width: auto;
        }
    }
	
	&.nitro-alert-credits {
        width: 370px;
        .notification-text {
            min-width: auto;
        }
    }

    &.nitro-alert-moderation,
    &.nitro-alert-alert {
        width: 250px;
        .notification-text {
            min-width: 225px;
        }
    }
}

.nitro-notification-bubble {
    pointer-events: all;
    padding: 6px 5px;
    pointer-events: all;
    padding: 10px;
    background-color: #262626;
    box-shadow: inset 0 5px rgba(38,38,57,.6), inset 0 -4px rgba(25,25,37,.6);
    font-size: .7875rem;
    border-radius: 0.5rem;
    font-size: 0.7875rem;
	color: white;

    .bubble-image-container {
        width: 50px;
        height: 50px;
    }
}
.topnotifications{
    margin-top: -6px;
}

.alertView_nitro-coolui-logo {
	width: 150px;
	height: 78px;
	position: relative;
	background-image: url("@/assets/images/notifications/coolui.png");
	background-repeat: no-repeat;
}