.nitro-chat-input-container {
    display: flex;
	justify-content: space-between;
    align-items: center;
    position: relative;
    height: 40px;
    border-radius: 0.5rem;
    border: 2px solid #000;
    box-shadow: 0 0 0 1pt #fff!important;
    background: #ededed;
    padding-right: 10px;
    overflow: hidden;
    width: -webkit-fill-available;

    @include media-breakpoint-down(xxl) {
        display: flex;
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 5px;
        top: 1px;
        left: 0;
        right: 0;
        margin: auto;
        background: rgb(255, 255, 255);
        z-index: 1;
    }

    .input-sizer {
        display: flex;
        vertical-align: top;
        height: 100%;
        padding: 0 10px;
        width: 100%;
        
        &::after,
        input,
        textarea {
            width: auto;
            min-width: 1em;
            grid-area: 1 / 2;
            margin: 0;
            resize: none;
            background: none;
            appearance: none;
            border: none;
            outline: none;
        }
    
    }
	
	.colour-container {
        visibility: visible;
        width: 100%;
    }

    .bubble-container {
        visibility: visible;
        width: 75%;
    }
    .nitro-chat-style-box {
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        padding: 0 0.75em;
        margin-right: 2px;
        width: 34px;
    }
}

.nitro-chat-input-container .input-sizer input{
    width: calc(100% - 80px)!important;
}

.nitro-chat-style-selector-container {
    width: $chat-input-style-selector-widget-width;
    max-height: $chat-input-style-selector-widget-height;

    .content-area {
        max-height: $chat-input-style-selector-widget-height !important;
    }

    .emoji {
        position: relative;
        z-index: 1;
        transition: transform 0.3s;
    }

    .emoji::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: lightblue;
        border-radius: 60%;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .emoji:hover::before {
        opacity: 1;
    }

    .emoji:hover {
        transform: scale(1.5);
    }

    .bubble-parent-container {
        height: 30px;

        .bubble-container {
            position: relative;
            width: 50px;
        }
    }
}

.info-habbopages {
    cursor: pointer;
    background-image: url("@/assets/images/boxes/card/questionmark.png");
    width: 19px;
    height: 20px;
    right: -2px;
    position: relative;

        &:hover {
            background-image: url("@/assets/images/boxes/card/questionmark_hover.png");

        &:active {
            background-image: url("@/assets/images/boxes/card/questionmark_click.png");
        }
    }
}