.nitro-chat-input-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    border-radius: 0.5rem;
    border: 2px solid #000;
    box-shadow: 0 0 0 1pt #fff!important;
    background: #ededed;
    padding-right: 10px;
    overflow: hidden;
    width: -webkit-fill-available;

    @include media-breakpoint-down(sm) {
        display: flex;
        position: absolute;
        bottom: 70px;
        left: calc(100% / 3);
        width: 200px!important;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 5px;
        top: 1px;
        left: 0;
        right: 0;
        margin: auto;
        background: rgb(255, 255, 255);
        z-index: 1;
    }

    .input-sizer {
        display: flex;
        vertical-align: top;
        height: 100%;
        padding: 0 10px;
        width: 100%;
        
        &::after,
        input,
        textarea {
            width: auto;
            min-width: 1em;
            grid-area: 1 / 2;
            margin: 0;
            resize: none;
            background: none;
            appearance: none;
            border: none;
            outline: none;
        }
    
    }

    .bubble-container {
        visibility: visible;
        width: 75%;
    }
    .nitro-chat-style-box {
        background-color: #b69b83;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        padding: 0 0.75em;
        border-radius: 0 0.5rem 0.5rem 0;
        margin-left: -11px;
        margin-right: 5px;
        width: 44px;
    }
}

.nitro-chat-style-selector-container {
    width: $chat-input-style-selector-widget-width;
    max-height: $chat-input-style-selector-widget-height;

    .content-area {
        max-height: $chat-input-style-selector-widget-height !important;
    }

    .bubble-parent-container {
        height: 30px;

        .bubble-container {
            position: relative;
            width: 50px;
        }
    }
}
.nitro-chat-input-container .input-sizer input{
    width: calc(100% - 80px)!important;
}
.sticker-img{
    object-fit: contain;
}
#submenuChat{
    padding: 5px 10px 1px 3px;
    position: absolute;
    background-color: rgb(21, 21, 21);
    top: 3px;
    right: 17px;
    display: none;
    z-index: 9999999;
    border-left: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-right: -13px;
}
#submenuChatConsola {
    padding: 5px 10px 1px 3px;
    background-color: rgb(21, 21, 21);
    z-index: 99999;
    border-left: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-right: 5px;
    width: 170px;
    display: none;
}
