.nitro-room-tools-container {
    position: absolute;
    bottom: $toolbar-height + 25px;
    left: 0px;
    display: flex;
    align-items: flex-start;

    .nitro-room-tools {
        background: #212131;
        box-shadow: inset 0px 5px lighten(rgba($dark, .6), 2.5), inset 0 -4px darken(rgba($dark, .6), 4);
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        transition: all .2s ease;
        z-index: 2;
        margin-left: -20px;

        .list-group-item {
            background: transparent;
            padding: 3px 0px;
            color: #FFF;
            border-color: rgba($black, 0.3);
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }

            &:first-child {
                padding-top: 8px;
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 8px;
            }

            .tools-item {
                .icon {
                    width: 22px;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
	
	.nitro-room-tools-side-container {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        gap: 10px;
    }

    .nitro-room-history {
        background: #212131;
        box-shadow: inset 0px 5px lighten(rgba($dark, .6), 2.5), inset 0 -4px darken(rgba($dark, .6), 4);
        transition: all .2s ease;
        width: 150px;
        overflow: hidden;
        z-index: 5;
    }

    .nitro-room-tools-info {
        background: #212131;
        box-shadow: inset 0px 5px lighten(rgba($dark, .6), 2.5), inset 0 -4px darken(rgba($dark, .6), 4);
        transition: all .2s ease;
        max-width: 250px;
    }
}

.nitro-room-tools-history {
    position: absolute;
    left: calc(100% - 2px);
    margin-left: 2px;
	height: 5%;
}

.wordquiz-question {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: large;
    background: rgba($dark, 0.95);
    box-shadow: inset 0px 5px lighten(rgba($dark, .6), 2.5), inset 0 -4px darken(rgba($dark, .6), 4);
    border-radius: $border-radius;
    transition: all 0.2s ease;
    z-index: $quiz-zindex;

    .question {
        max-width: 300px;
    }
}

.word-quiz-dislike {
    background: url('@/assets/images/room-widgets/wordquiz-widget/thumbs-down.png');
    width: 31px;
    height: 34px;
}

.word-quiz-like {
    background: url('@/assets/images/room-widgets/wordquiz-widget/thumbs-up.png');
    width: 31px;
    height: 34px;
}

.word-quiz-dislike-sm {
    background: url('@/assets/images/room-widgets/wordquiz-widget/thumbs-down-small.png');
    width: 22px;
    height: 22px;
}

.word-quiz-like-sm {
    background: url('@/assets/images/room-widgets/wordquiz-widget/thumbs-up-small.png');
    height: 22px;
    width: 22px;
}

.nitro-widget-doorbell {
    width: $nitro-doorbell-width;
    height: $nitro-doorbell-height;
}

.toggle-roomtool {
    min-height: 95px;
    width: 20px;
    margin-left: -5px;
    padding-left: 10px;
    z-index: 72;
}

.room-tool-item {
    height: 20px;
    cursor: pointer;
}

.margin-icons {
    margin-top: -14px;
}

.margin-button-history {
    margin-left: 4px;
    margin-right: 4px;
}

.text-no-promote {
    font-size: 15px;
}

.icon-style {
    margin-top: 1px;
    margin-left: 4px;
}

.arrow-right-style {
    margin-right: 4px;
}

.tags {
    background-color: #1B2834;
    color: #1A75A6;
    font-size: 10px;

    &:hover {
        color: #419AD2;
    }
}

.buildtool-box {
	background-color: 3D5D63;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #fff;
    padding: 2px;
}

.buildtool-box-left {
    background-color: #3D5D63;
}

.buildtool-box-right {
    background-color: #3D5D63;
}

.buildtool-movefurni {
    background-color: #E55959;
    color: #fff;
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 3px;
	display: flex;
    justify-content: center;
    align-items: center;
	transition: filter 0.3s ease;

    &:hover {
        filter: brightness(1.5);
    }
}

.buildtool-rotatefurni {
    background-color: #D1A245;
    color: #000;
    width: 28px;
    height: 28px;
    border: 2px solid #eee;
    cursor: pointer;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
	transition: filter 0.3s ease;

    &:hover {
        filter: brightness(1.5);
    }
}

.buildtool-setheight {
    color: #fff;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 3px;
    line-height: 1.0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s ease;

    &:hover {
        filter: brightness(1.5);
    }
}

.buildtool-setheightup {
    background-color: #247FD1;
}

.buildtool-setheightdown {
    background-color: #44A750;
}

.button-leftdown {
    transform: rotate(135deg);
}

.button-leftup {
    transform: rotate(225deg);
}

.button-rightdown {
    transform: rotate(45deg);
}

.button-rightup {
    transform: rotate(315deg);
}

.floor-spaceing {
    gap: 0.6em!important;
}				 
@import './avatar-info/AvatarInfoWidgetView';
@import './chat/ChatWidgetView';
@import './chat-input/ChatInputView';
@import './choosers/ChooserWidgetView';
@import './context-menu/ContextMenu';
@import './friend-request/FriendRequestDialogView';
@import './furniture/FurnitureWidgets';
@import './mysterybox/MysteryBoxExtensionView';
@import './pet-package/PetPackageWidgetView';