$nitro-card-header-height: 33px;
$nitro-card-tabs-height: 42px;

.nitro-card {
    resize: both;
    padding: 0.5rem;
    background: #ededed;
    border-radius: 0.75rem!important;
    border: 2px solid #454566!important;
    box-shadow: 0 0 0 1pt #fff!important;

    @include media-breakpoint-down(lg) {
        max-width: 100vw !important;
        max-height: 100vh !important;
    }

    &.theme-primary {
        border: $border-width solid $border-color;

        .nitro-card-header {
            min-height: 28px;
            max-height: 28px;
            width: 100%;
            padding: 1rem;
            border-radius: 0.5rem;
            background: #454566;
            border: 2px solid #66669b;
            margin-bottom: 0.25rem;

            .nitro-card-header-text {
                color: $white;
                text-shadow: 0px 4px 4px rgba($black, 0.25);
                @include font-size($h4-font-size);
            }

            .nitro-card-header-close {
                cursor: pointer;
                padding: 2px 2px;
                line-height: 1;
                border-radius: $border-radius;
                box-shadow: 0 0 0 1.6px $white;
                border: 2px solid #921911;
                background: repeating-linear-gradient(
                    rgba(245, 80, 65, 1),
                    rgba(245, 80, 65, 1) 50%,
                    rgba(194, 48, 39, 1) 50%,
                    rgba(194, 48, 39, 1) 100%
                );

                &:hover {
                    filter: brightness(1.2);
                }

                &:active {
                    filter: brightness(0.8);
                }
            }

            .nitro-card-header-report-camera {
                cursor: pointer;
                padding: 1px 3px;
                line-height: 1;
                border-radius: $border-radius;
                box-shadow: 0 0 0 1.6px $white;
                border: 2px solid #921911;
                background: repeating-linear-gradient(
                    rgba(245, 80, 65, 1),
                    rgba(245, 80, 65, 1) 50%,
                    rgba(194, 48, 39, 1) 50%,
                    rgba(194, 48, 39, 1) 100%
                );

                &:hover {
                    filter: brightness(1.2);
                }

                &:active {
                    filter: brightness(0.8);
                }
            }
        }

        .nitro-card-tabs {
            background-color: #ededed;

            .nav-item {
                padding: 0.2rem 0.4rem;
                background-color: #dedede;
                color: #000;
                z-index: 1;
                box-shadow: 0 0 0 1pt #fff !important;
                border: 2px solid #454566!important;
                border-radius: 0.5rem;
                border-top-left-radius: 0.5rem !important;
                border-top-right-radius: 0.5rem !important;

                &.active {
                    background-color: #e1e5ff;

                    &:before {
                        background: $white;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 93%;
                    height: 3px;
                    border-radius: 0.25rem;
                    top: 1.5px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background: #c2c9d1;
                    z-index: 1;
                }
            }
        }

        .content-area {
            background-color: #ededed;
        }
    }

    &.theme-primary-slim {
        border: $border-width solid $border-color;

        .nitro-card-header {
            position: relative;
            min-height: 28px;
            max-height: 28px;
            width: 100%;
            padding: 1rem;
            border-radius: 0.5rem;
            background: #454566;
            border: 2px solid #66669b;
            margin-bottom: 0.25rem;

            .nitro-card-header-text {
                color: $white;
                text-shadow: 0px 4px 4px rgba($black, 0.25);
                @include font-size($h5-font-size);
                min-height: 21px;
            }

            .nitro-card-header-close {
                cursor: pointer;
                padding: 0px 2px;
                line-height: 1;
                @include font-size($h7-font-size);
                border-radius: $border-radius;
                box-shadow: 0 0 0 1.6px $white;
                border: 2px solid #921911;
                background: repeating-linear-gradient(
                    rgba(245, 80, 65, 1),
                    rgba(245, 80, 65, 1) 50%,
                    rgba(194, 48, 39, 1) 50%,
                    rgba(194, 48, 39, 1) 100%
                );

                &:hover {
                    filter: brightness(1.2);
                }

                &:active {
                    filter: brightness(0.8);
                }
            }

            .nitro-card-header-report-camera {
                cursor: pointer;
                padding: 1px 2px;
                margin-right: 10px;
                line-height: 1;
                @include font-size($h7-font-size);
                border-radius: $border-radius;
                box-shadow: 0 0 0 1.6px $white;
                border: 2px solid #921911;
                background: repeating-linear-gradient(
                    rgba(245, 80, 65, 1),
                    rgba(245, 80, 65, 1) 50%,
                    rgba(194, 48, 39, 1) 50%,
                    rgba(194, 48, 39, 1) 100%
                );

                &:hover {
                    filter: brightness(1.2);
                }

                &:active {
                    filter: brightness(0.8);
                }
            }
        }

        .nitro-card-tabs {
            background-color: $secondary;
        }

        .content-area {
            background-color: #ededed;
        }
    }
}

.content-area {
    height: 100%;
    padding-top: $container-padding-x;
    padding-bottom: $container-padding-x;
    overflow: auto;

    &.theme-dark {
        background-color: #1C323F !important;
    }
}

@include media-breakpoint-down(lg) {
    .content-area {
        height: 100% !important;
        min-height: auto !important;
        max-height: 100% !important;
    }
}

.nitro-card-header {
    position: relative;
    height: 100%;
}

.nitro-card-tabs {
    height: 100%;
    min-height: $nitro-card-tabs-height;
    max-height: $nitro-card-tabs-height;
}

.nitro-card-accordion-set {

    &.active {
        height: 100%;
        overflow: hidden;
        background: rgba($white, 0.5);
        border-bottom: 1px solid rgba($black, 0.2);
    }

    .nitro-card-accordion-set-header {
        border-bottom: 1px solid rgba($black, 0.2);
    }
}
