.nitro-loading {
    position: relative;
	background-image: radial-gradient(#1d1a24, #003a6b);
    z-index: 100;
}

.connecting-duck {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    left: 0;
    background: url('@/assets/images/loading/caja.gif') no-repeat top left;
    width: 84px;
    height: 84px;
    zoom: 1.5;
    image-rendering: pixelated;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    background: url('@/assets/images/notifications/coolui.png') no-repeat top left; /* Fixed the typo here */
    width: 150px;
    height: 100px;
}