.nitro-purse-container {
  font-size: $font-size-sm;
  pointer-events: all;

  .nitro-purse {
    margin-top: 4px;

    .nitro-purse-subscription {
      background-color: rgba($light, 0.1);
    }

    .nitro-purse-button {
      padding: 3px 2px;
    }
    .coffecurrencybutton {
      border-radius: 0.5rem !important;
      background-color: rgba(#b69b83, 0.75);
      border: 2px solid hsla(0deg, 0%, 100%, 0.5);
      margin-bottom: 3px;
      padding: 0px !important;
      width: 30px;
    }
    .borderhccontent {
      background-color: rgba(#212131, 0.75);
      border-radius: 0.5rem !important;
      border: 2px solid #383853;
      height: calc(100% - 3px);
    }
    .nitro-purse-button.currency--1 {
      background-color: rgba(#e8b125, 0.75);
      border: 2px solid #f4d892;
    }
    .nitro-purse-button.currency-0 {
      background-color: rgba(#c364c1, 0.75);
      border: 2px solid #e1b2e0;
    }
    .nitro-purse-button.currency-5 {
      background-color: rgba(#6bafaa, 0.75);
      border: 2px solid #b5d7d5;
    }
    .allcurrencypurse {
      border-radius: 7px !important;
      margin-bottom: 5px;
    }
  }

  .nitro-purse-seasonal-currency {
    position: relative;
    height: 30px;
	background: linear-gradient(to right, $dark, transparent);
    border-radius: 0.6rem !important;

    .seasonal-padding {
      padding: 5px;
    }

    .seasonal-bold,
    .seasonal-amount {
      margin-top: 4px;
      display: flex;
      align-items: center;
      height: 30px;
    }

    .seasonal-bold {
      flex: 3;
      line-height: 10px;
    }

    .seasonal-amount {
      flex: 1;
      line-height: 20px;
    }

    .nitro-seasonal-box {
      border-image-slice: 6 6 6 6 fill;
      border-image-width: 6px 6px 6px 6px;
      top: 0px;
      right: 0px;
      height: 100%;
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.purple {
      .nitro-seasonal-box {
        background: linear-gradient(to left, #b17fbe, transparent);
		border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }

    &.bronze {
      .nitro-seasonal-box {
        background: linear-gradient(to left, #d4943c, transparent);
		border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }

    &.pink {
      .nitro-seasonal-box {
        background: linear-gradient(to left, #d89ba8, transparent);
		border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }

    &.blue {
      .nitro-seasonal-box {
        background: linear-gradient(to left, #95c3e5, transparent);
		border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }

    &.red {
      .nitro-seasonal-box {
        background: linear-gradient(to left, #ff0004, transparent);
		border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }
  }
}
.topcurrencygen {
  margin-top: 2px;
}
