.nitro-chat-history {
	background-color: #f0f0f0;
	width: 400px;
    height: 400px;
	}

.nitro-chat-history .nitro-card-content {
	height: 100%;
	background-image: url('@/assets/images/chat/chathistory_background.png');
	background-repeat: repeat;
	background-size: auto;
	background-color: #f0f0f0;
}

.nitro-chat-history .p-1.slide-in {
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}